.btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4rem;
  padding: 1.5rem 2rem;
  font-size: 5rem;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
}

.btn:hover {
  color: #fff;
}

.link {
  color: #fff;
  text-decoration: none;
}

.btn_default {
  transition: all 0.8s;
  background-image: linear-gradient(120deg, var(--color_primary) 50%, #000 50%);
  background-size: 300%;
  border: none;
}

.btn_default:hover {
  background-position: 100%;
}