.stepper_div {
  display: flex;
  justify-content: center;
}

.content {
  margin: 6rem 0 2rem 0;
}

.stepper {
  flex: 0 0 90%;
  max-width: 50rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.payment_container {
  display: flex;
  justify-content: center;
}

.payment_content {
  flex: 0 0 100%;
  max-width: 40rem;
}