/* =========================== main class =========================== */
.root {
  width: 100%;
  padding: 3.5rem 0;
  transition: all 0.3s;
}

.lg_screen {
  display: flex;
  align-items: center;
}

.md_screen {
  display: none;   
}

.sm_screen {
  display: none;
}

/* =========================== data line =========================== */

.first_line {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.second_line {
  margin-top: 0rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ==================================== media ==================================== */


/* 850 */
@media screen and (max-width: 550px) { 

  .lg_screen {
    display: none;
  }

  .md_screen {
    display: flex;
    flex-direction: column;
  }

  .name_container {
    flex-grow: 1;
  }


}
